.contact{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aliceblue;/ */
}

.contact h1{
    position: relative; 
     top: 80px;
    font-size: 3.5vmax;
    background: linear-gradient(to right,rgb(250, 3, 127), white);
    background-clip: text; 
    color: transparent;
}
.contact .contactinput{
    margin-top:10px; width:  100%;display: flex; justify-content: center; align-items: center;}

.leftcontact{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}
.rightcontact{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blueviolet; */
}

.rightcontact .form{
    display: flex;
    width: 60%;
    height: auto;
    padding: 20px;
    flex-direction: column;
    color: white;
    border: 2px solid green;
    box-shadow: 2px 2px 20px rgb(210,144,145);
}

.rightcontact .form .inp-group{
    padding: 10px;
}

.rightcontact .form .inp-group input{
    width: 75%;
    min-width: 170px;
    padding: 0 10px;
    height: 25px;
    /* border: none; */
    border-radius: 6px;
    background: rgb(0, 0, 0);
    box-shadow: 2px 2px 20px rgb(86, 97, 61);
    
}
/* .inp-group:hover input{
    border: 2px solid rgba(12, 190, 12, 0.514);
    
} */

#message1{
    width: 92%;
    min-width: 170px;
    height: 150px;
}

.form button{
    padding: 10px 30px;
    background-color: rgb(66,180,205);
    color: black;
    border: 2px solid rgb(66,180,205);
    margin-top: 30px;
    border-radius: 20px;
    font-family: 19px;
    transition: all 0.2s;
    cursor: pointer;
    width: 140px;
}

.form button:hover{
    background-color: transparent;
    color: rgb(66,180,205);
}

@media (max-width:750px){
    
    .contact .contactinput{

        flex-direction: column;
        margin-block: 10px;
    }
    .rightcontact{
        width: 100%;
        height: 50vh;
    }
    .leftcontact{
        height: 50vh;
        width: 100%;
    }
}